/* styles/globals.css */
@import 'primereact/resources/themes/lara-light-cyan/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

/* Your custom styles */