/* styles/globals.css */
@import 'primereact/resources/themes/lara-light-cyan/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';



/* menu bar */
 .p-menubar {
  flex-wrap: nowrap !important;
  white-space: nowrap !important;
}

.p-menubar .p-menuitem-link {
  padding: 0.6rem 0.75rem; 
  font-size: 1.2 rem;       
} 

